*
  box-sizing border-box

html
  margin 0
  padding 0
  font-family monospace
  font-size 150%

body
  width 1050px
  padding 40px 20px
  margin auto

a
  cursor pointer
  color inherit
  text-decoration none

  &:hover
    text-decoration underline

nav
  text-transform uppercase
  display flex
  align-items center
  justify-content center

  & > *
    margin 0 14px

  .logo
    img
      width 3em

  a:hover
    padding 3px 6px
    background #ededed

.contracts
  padding 20px
  display flex
  flex-wrap wrap

  .contract
    padding 10px
    border-radius 12px
    background-color #ededed

.new-contract
  width 100%

  input, textarea
    margin-bottom 20px
    width 100%

  textarea
    min-height 400px
    padding 9px

  .button
    display flex
    justify-content center

    button
      font-size 110%
